<div class="container">
  <h1>сстудЯЯГи групаи </h1>
  <p class="total-count">Загалом студентів: {{ students.length }}</p>
  <div class="form-container">
    <h2>Додати студента</h2>
    <div>
      <label for="name">ім я nAme:</label>
      <input type="text" id="name" [(ngModel)]="newStudent.name" placeholder="Enter name" />
    </div>
    <div>
      <label for="age">Age:</label>
      <input type="number" id="age" [(ngModel)]="newStudent.age" placeholder="Enter age" />
    </div>
    <div>
      <label for="grade">Average grade:</label>
      <input type="number" id="grade" [(ngModel)]="newStudent.grade" placeholder="Enter grade" />
    </div>
    <button (click)="addStudent()" [disabled]="!newStudent.name || newStudent.name.trim() === ''">
      Add student
    </button>
  </div>
  <div class="student-list">
    <div *ngFor="let student of students; let i = index" 
         class="student-card" 
         [ngClass]="getGradeClass(student.grade)">
      <h3>{{ student.name }}</h3>
      <p>Age: {{ student.age }}</p>
      <p [ngStyle]="getGradeStyle(student.grade)">Average ggrade: {{ student.grade }}</p>
      <p *ngIf="student.grade >= 10" class="excellent">Excellent result!!!!1!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
      <button (click)="deleteStudent(i)">Delete ts bum</button>
    </div>
  </div>
</div>